* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --amarelo:#F4C51B;
    --preto:black;
    --branco:white;

    --mainFont: 'Montserrat', sans-serif;

    --opacity01 : 2.7s;
    --opacity02 :3s;
    --leftToRight : 3s;
    --pulseAnimation : 1.5s;


    
}

header{
    position: absolute;
    width: 100%;

}

body{
    
    background-color: white;
    margin: auto;
}


.containerHamburguer{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 82%;
    top: 17px;
    text-align: center;

}
.hamburguerMenu{
    
    
    font-size: 3em;

    animation: pulseAnimation var(--pulseAnimation) infinite, opacity01 var(--opacity01);
    
}

/* 
*sessões da página inicial
*/

.firstSection,.secondSection{
    width: 100%;
    height: 50vh;

    position: relative;
    
}


/*
* retangulo esquerdo amarelo  da página 
*/

.leftSquare{
    width:152px ;
    height: 100%;

    position: absolute;
    left: 13px;

    background-color: var(--amarelo);
    animation: leftSquareHeight 2s;
}



/*
* retangulo com texto " portfólio", logo e pequenos quadrados à diretia  
*/

.portfolio{
    width: 95%;
    height: 188px;
    

    position: absolute;
    left: 2.5%;
    bottom: 0%;

}

.portfolio>p{
    position: absolute;
    bottom: 20px;
    left: 17px;

    font-family: var(--mainFont);
    font-weight: 500;
    font-size: 4em;
    line-height: 0.8;
    color: var(--preto);

    
    animation: opacity01 var(--opacity01)

}



.logoLinea{
    width:78px ;
    position: absolute;
    left: 19px;
    top: 10px;

    animation: opacity01 var(--opacity01) ;

}


/*pequenos quadrados na lateral direita da página*/

.squaresSmall{
    width:30px ;
    position: absolute;
    left: 90%;
    bottom: 10px;

    
    animation: moveRichToLeft var(--leftToRight)


}

.lineSquareLeftTop{
    position: absolute;
    left: 11px;
    top: 2px;
    width: 37px;

    animation: opacity01 var(--opacity01)

}
.lineSquareRightBottom{
    position: absolute;
    left: 280px;
    bottom: 10px;
    width: 37px;

    transform: rotate(180deg);

    animation: opacity01 var(--opacity01)
}






/* 
*Slider com as imagens principais 
*/

.mainSliderShowContainer{
    width: 80% ;
    height: 80%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    animation: opacity02 var(--opacity02);
}

.mainSliderShowContainer>img{
    width: 100%;
}



/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
  }
  
  
  
  /* The dots/bullets/indicators */
  .dot {
   
    display: none;
   
  }
  
  
  .active {
    background-color: #717171;
  }


  footer{
    width: 100%;
    text-align: center;
    z-index: 999;
    position: absolute;
    bottom: 9px;
    left: 50%;
    transform: translateX(-50%);
    animation: opacity02 var(--opacity02);
  }

  footer >p{
    font-size: 0.8em;
    color: gray;
  }

/*todas animações estão aqui */

/*
!animação do retangulo amarelo esquerdo
 */

@keyframes leftSquareHeight{
    from{
        height: 0%;
    }
    to{
        height: 100%;
    }
}

/*
!animação de opacidade das letras e logo
*/

@keyframes opacity01{
    0%{
        opacity: 0%;
    }
    60%{
        opacity: 0%;
    }
    
    100%{
        opacity: 100%;
    }

}
/*
!animação de opacidade do slider
*/

@keyframes opacity02{
    0%{
        opacity: 0%;
    }
    80%{
        opacity: 0%;
    }
    
    100%{
        opacity: 100%;
    }

}
/*
!animação dos retangulos menores na lateral infeior  direita 
*/

@keyframes moveRichToLeft{
    from{
        left: 120%;
    }
    
    to{
        left: 90%;
    }

}

/*
!animação do menu hambuerguer 
*/

@keyframes pulseAnimation{

    0%{
        font-size: 3em;
    }
    
    50%{
        font-size: 3em;
    }
    70%{
        font-size: 3.5em;
    }
    100%{
        font-size: 3em;
    }

}



/*
!animações dos slides
*/


  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 3.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


